
{% set nav_type = nav_type in ['sidebar', 'main', 'footer'] ? nav_type : 'main' %}
{% set nav_type_class = nav_type ? 'nav--%s'|format(nav_type) : '' %}
{% set modifier_class = '%s %s'|format(nav_type_class, modifier_class|default('')) %}

{% import _self as menus %}
{% macro menu_links(items, menu_level, nav_type, modifier_class) %}


  {% if items %}

      {% if menu_level == 0 %}
        <ul class="nav nav--level-{{- menu_level }} {{ modifier_class -}}"
        data-component-name="navigation">

      {% else %}
        <div class="nav__subnav-wrapper">
          <ul class="nav nav--level-{{- menu_level }} {{ modifier_class -}}">
      {% endif %}

        {% for item in items %}

          {%
            set item_classes = [
              'nav__item',
              item.is_expanded ? 'nav__item--expanded',
              item.is_collapsed ? 'nav__item--collapsed',
              item.in_active_trail ? 'nav__item--active-trail',
              item.below ? 'nav__item--has-children' : '',
            ]
          %}

          <li class="{{- item_classes|join(' ')-}}" {{- item_attributes|raw -}}>
            {{ link(item.title, item.url, { class: ['nav__link']}) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, menu_level + 1) }}
            {% endif %}
          </li>
        {% endfor %}

        {% if menu_level == 0 %}
          </ul>
        {% else %}
            </ul>
          </div>
        {% endif %}


    {% endif %}
  {% endmacro %}

{{ menus.menu_links(items, 0, layout_type, modifier_class) }}
