{% import _self as menus %}

{% macro menu_links(items, attributes) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('menu') }}>
      {% for item in items %}

        {%
          set item_classes = [
            'menu__item',
            'menu__item--level-' ~ menu_level,
          ]
        %}

        <li class="{{- item_classes|join(' ') -}}" {{- item_attributes|raw -}}>
          {{ link(item.title, item.url, { class: ['menu__link']}) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ menus.menu_links(items, attributes) }}
