{% set type = type in ['default', 'navigation'] ? type : 'default' %}
{% set type_class = type ? 'card--%s'|format(type) : '' %}
{% set modifier_class = '%s %s'|format(type_class, modifier_class|default('')) %}

<div class="card" {{ attributes.addClass(modifier_class) }}>

  <div class="card__content">
    <div class="card__text">
      {# add with twig block, sdc-addon slos #}
      {% block title %}{{ card_title }}{% endblock %}
      {% block summary %}{{ card_summary }}{% endblock %}
    </div>

    {% block image %}{{ card_image }}{% endblock %}
  </div>

 {% block button %}{{ card_button }}{% endblock %}

    {# {% block content %}
      {{ content }}
    {% endblock %} #}

</div>
