{% set type = type in ['text', 'radio', 'checkbox', 'search', 'range'] ? type : 'text' %}
{% set type_class = type ? 'input--%s'|format(type) : '' %}
{% set modifier_class = '%s %s'|format(type_class, modifier_class|default('')) %}

<div class="input__wrapper">

  {% if input_label_hidden == true %}
    <label for="input" class="label sr-only">{{ input_label }}</label>

    {% else %}
    <label for="input" class="label">{{ input_label }}</label>
  {% endif %}

  <input
  type="{{ type }}"
  class="input {{ modifier_class -}}"
  {{ attributes }}
  id="{{ input_id }}"
  label="{{ input_label }}"
  value="{{ value }}"
  placeholder="{{ placeholder_text }}"/>
  {{ children }}
</div>
